{% extends 'left_right_66.html' %}

{% set slide_title = 'References' %}

{% block left %}
<ol class="h5" style="margin-top: 10%;">
  <li>
    Armstrong, GL, et al., JAMA, January 6, 1999—Vol 281, No. 1
  </li>
  <li>
    Julian Davies and Dorothy Davies. Origins and evolution of antibiotic resistance. Mi-
    crobiology and Molecular Biology Reviews, 74(3):417–433, 2010.
  </li>
  <li>
    C. Lee Ventola. The antibiotic resistance crisis: part 1: causes and threats. P
    & T : a peer-reviewed journal for formulary management, 40(4):277–283, Apr 2015.
  </li>
  <li>
    Svitlana Chernousova and Matthias Epple. Silver as antibacterial agent: Ion, nanopar-
    ticle, and metal. Angewandte Chemie International Edition, 52(6):1636–1653, 2 2013.
  </li>
  <li>
    Antibiotic resistance threats report and foodborne germs.
    https://www.cdc.gov/narms/resources/threats.html, Mar 2019.
  </li>
  <li>
    http://chemotaxis.biology.utah.edu/Parkinson_Lab/projects/ecolichemotaxis/ecolichemotaxis.html
  </li>
  <li>
    Das, Debasish and Eric Lauga. “Computing the motor torque of Escherichia coli.” Soft matter 14 29 (2018): 5955-5967 .
  </li>
</ol>
{% endblock left %}