{% extends 'left_right.html' %}

{% set slide_title = '<i>E. coli</i> as a Model Organism'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 25%;">
    <li>
        <h3>Motility of <i>E. coli</i> has been thoroughly studied.</h3>
    </li>
    <li>
        <h3>Swim by rotating helical flagella connected to motor.</h3>
    </li>
    <li>
        <h3>Detect gradients and reorient themselves.</h3>
    </li>
    <li>
        <h3>Important for cell survivability and virulence.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
    <img class="img-fluid" style="margin-top: 5%; width: 65%; height: auto;"
        src="{{ url_for('static', filename='chemotaxis.png') }}" alt="...">[6]
    <img class="img-fluid" style="margin-top: 5%; width: 40%; height: auto;"
        src="{{ url_for('static', filename='motor.gif') }}" alt="...">[7]
</div>
{% endblock right %}