{% extends 'center.html' %}

{% set slide_title = 'Future Research'|safe %}

{% block center %}
<div class="d-flex flex-column text-center h-100">
  <h3 style="margin-top: 5%; margin-bottom: 2.5%">
    Investigate similarities of results for silver nanoparticles.
  </h3>
  <hr>
  <h3 style="margin-top: 2.5%; margin-bottom: 2.5%">
    Explore direct interactions between silver ions and bacterial motor proteins.
  </h3>
  <hr>
  <h3 style="margin-top: 2.5%; margin-bottom: 2.5%">
    Gain a fuller understanding of how <i>E. coli</i> are able to recover treatment with silver.
  </h3>
</div>

{% endblock center %}