{% extends 'left_right.html' %}

{% set slide_title = 'Pathogenic <i>Escherichia coli</i>'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 25%;">
    <li>
        <h3><i>E. coli</i> infections are prevalent.</h3>
    </li>
    <li>
        <h3>Antibiotic-resistant <i>E. coli</i> are an urgent threat.</h3>
    </li>
    <li>
        <h3>Cause 35,000 infections and >2,000 deaths per year in the US.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
    <img class="img-fluid" style="margin-top: 10%; width: 65%; height: auto;"
        src="{{ url_for('static', filename='cdc_enterobacteriaceae.png') }}" alt="...">[5]
</div>
{% endblock right %}