{% extends 'left_right.html' %}

{% set slide_title = 'Swimming Assay - MSD vs &tau;'|safe %}

{% block left %}
<div class="text-center">
    <h3 style="margin-top: 5%; width: 100%; height: auto;">Linear-Linear</h3>
    <img class="img-fluid"
        src="{{ url_for('static', filename='MSD_linlin-1.png') }}" alt="...">
</div>
{% endblock left %}

{% block right %}
<div class="text-center">
    <h3 style="margin-top: 5%; width: 100%; height: auto;">Log-Log</h3>
    <img class="img-fluid" 
        src="{{ url_for('static', filename='MSD_loglog-1.png') }}" alt="...">
</div>
{% endblock right %}