{% extends 'center.html' %}

{% set slide_title = 'Experimental Design Overview'|safe %}

{% block center %}
<div class="d-flex flex-column text-center h-100">
  <h3 style="margin-top: 5%; margin-bottom: 2.5%">Investigate changes to swimming behavior of <i>E. coli</i> caused by silver ions via
    microscopy experiments.</h3>
    <hr>
  <h3 style="margin-top: 2.5%; margin-bottom: 2.5%">Quantify observed changes.</h3>
  <hr>
  <h3 style="margin-top: 2.5%; margin-bottom: 2.5%">Model the interactions between silver ions and <i>E. coli</i> using biophysical
    techniques.</h3>
</div>

{% endblock center %}