{% extends 'left_right.html' %}

{% set slide_title = 'Propidium Iodide Staining'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 10%;">
    <li>
        <h3>Propidium iodide (PI) is a DNA-intercalating dye used to measure the viability of cells.</h3>
    </li>
    <li>
        <h3>Cells grown with same specifications of swimming experiments were fixed and collected at each of the imaging times
            after treatment with 0 and 40&mu;M Ag<sup>+</sup>.
        </h3>
    </li>
    <li>
        <h3>Next day, cells were stained with PI and imaged using fluorescence microscopy.</h3>
    </li>
    <li>
        <h3>Bright cells will have membrane damage, whereas darker cells will have lesser or no membrane damage.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
<img class="img-fluid" style="margin-top: 25%; width: 75%; height: auto; transform: rotate(180deg);" src="{{ url_for('static', filename='PI_staining.png') }}" alt="...">
</div>
{% endblock right %}