{% extends 'left_right.html' %}

{% set slide_title = 'Propidium Iodide Staining - Results'|safe %}

{% block left %}
<div class="text-center">
    <h3 style="margin-top: 5%; width: 100%; height: auto;">Hour 1 - No Silver</h3>
    <img class="img-fluid" style="width: 70%;"
        src="{{ url_for('static', filename='1hour_control_2_composite.png') }}" alt="...">
</div>
{% endblock left %}

{% block right %}
<div class="text-center">
    <h3 style="margin-top: 5%; width: 100%; height: auto;">Hour 1 - 40&mu;M Ag<sup>+</sup></h3>
    <img class="img-fluid" style="width: 70%;"
        src="{{ url_for('static', filename='1hour_with_ag_1_composite.png') }}" alt="...">
</div>
{% endblock right %}