{% extends 'left_right.html' %}

{% set slide_title = 'Free Swimming Assay - Imaging Protocol'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 10%;">
    <li>
        <h3>Liquid culture was added to and imaged on Petri dishes with coverslip bottoms.</h3>
    </li>
    <li>
        <h3>Five 5000-frame images at 18.4 FPS were taken at each of 0, 1, 2, 4, and 8 hours after adding Ag<sup>+</sup> using phase-contrast.</h3>
    </li>
    <li>
        <h3>Five total experiments done</h3>
        <ul>
            <li>
                <h3>one 0&mu;M Ag<sup>+</sup></h3>
            </li>
            <li>
                <h3>two 30&mu;M Ag<sup>+</sup></h3>
            </li>
            <li>
                <h3>two 40&mu;M Ag<sup>+</sup></h3>
            </li>
        </ul>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
<img class="img-fluid" style="margin-top: 5%; width: 50%; height: auto;" src="{{ url_for('static', filename='culture_dish.jpg') }}" alt="...">
</div>
{% endblock right %}