{% extends 'left_right.html' %}

{% set slide_title = 'Tethering Assay - Histograms of &omega;'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 10%;">
    <li>
        <h3>Histogram of &omega; for the same two cells. Line is the kernel density estimate (KDE).</h3>
    </li>
    <li>
        <h3>Both cells show bimodality, corresponding to running and tumbling.</h3>
    </li>
    <li>
        <h3>After the introduction of silver, the cell mostly retains its tumbling state.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
    <img class="img-fluid" style="margin-top: 10%; width: 80%; height: auto;" src="{{ url_for('static', filename='omega_hists-1.png') }}" alt="...">
</div>
{% endblock right %}