{% extends 'left_right.html' %}

{% set slide_title = 'Swimming Assay - Selected Track Results'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 10%;">
    <li>
        <h3>"Firework" plot shows a sub-sample of tracks reoriented to begin at the origin. Circles indicate the 50<sup>th</sup> and 75<sup>th</sup> tracks with the largest displacements.</h3>
    </li>
    <li>
        <h3>Immediate drop in radii confirms the previous qualitative observation.</h3>
    </li>
    <li>
        <h3>Control values stay mostly constant until the 8<sup>th</sup> hour. This may be caused by starvation resulting from the high OD.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
    <img class="img-fluid" style="margin-top: 10%; width: 100%; height: auto;" src="{{ url_for('static', filename='firework_grid_plot_2-1.png') }}" alt="...">
</div>
{% endblock right %}