{% extends 'center.html' %}

{% set slide_title = 'Tethering Assay - Conclusions' %}

{% block center %}
<div class="d-flex flex-column text-center h-100">
  <h1 class="h-25"></h1>
  <h1 class="h-50 bg-dark text-light" style="border: 5px solid; border-color: black;">
      These results suggest that silver ions cause a <u>significant change to the transition capabilities</u> of the bacterial motor.
      This change is manifested as a <u>"stalling" effect in which the motor is not able to spin</u> at a high enough speed to
      produce flagellar rotation.
    </h1>
</div>
{% endblock center %}