{% extends 'left_right.html' %}

{% set slide_title = 'Tethering Assay - Rolling Mean of &omega; vs Time'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 10%;">
    <li>
        <h3>Rolling mean of &omega; (window size of 12 frames) plotted vs time. Gray is raw data.</h3>
    </li>
    <li>
        <h3>Both cells seem to switch between two modes in the first, pre-silver section.</h3>
    </li>
    <li>
        <h3>After the addition of silver, the cells remains in the slower state more often and rarely switches out.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
    <img class="img-fluid" style="margin-top: 10%; width: 100%; height: auto;" src="{{ url_for('static', filename='rolling_mean_omega-1.png') }}" alt="...">
</div>
{% endblock right %}