{% extends 'left_right.html' %}

{% set slide_title = 'Swimming Assay - MSD vs &tau;'|safe %}

{% block left %}
<div class="text-center">
  <h3 style="margin-top: 25%; width: 100%; height: auto;">
    MSD = 4D&tau;<sup>&alpha;</sup>
  </h3>
  <h3 style="margin-top: 5%; width: 100%; height: auto;">
    log(MSD) = &alpha;log(&tau;) + log(4D)
  </h3>
</div>
{% endblock left %}

{% block right %}
<ul class='h3' style="margin-top: 25%;">
  <li>
    <h3>&alpha; > 1 : superdiffusion</h3>
  </li>
  <li>
    <h3>&alpha; = 1 : diffusion</h3>
  </li>
  <li>
    <h3>&alpha; < 1 : subdiffusion</h3>
  </li>
</ul>
{% endblock right %}