{% extends 'left_right.html' %}

{% set slide_title = 'Tethering Assay - Results'|safe %}

{% block left %}
<div style="margin-top: 10%;" class="text-center">
  <h3>Pre 40&mu;M Ag<sup>+</sup></h3>
  <img class="img-fluid" width="50%" src="{{ url_for('static', filename='Cell_1_pre_ag.gif') }}"
    alt="...">
</div>
{% endblock left %}

{% block right %}
<div style="margin-top: 10%;" class="text-center">
  <h3>Adding 40&mu;M Ag<sup>+</sup></h3>
  <img class="img-fluid" width="50%" src="{{ url_for('static', filename='Cell_1_adding_ag_1.gif') }}"
    alt="...">
</div>
{% endblock right %}