{% extends 'left_right.html' %}

{% set slide_title = 'Swimming Assay - OD<sub>600</sub>'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 10%;">
    <li>
        <h3>Optical density at 600nm measures the density of a cell culture.</h3>
    </li>
    <li>
        <h3>As seen in the literature, silver ions suppress the growth of <i>E. coli</i>. That result is confirmed here.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
    <img class="img-fluid" style="margin-top: 5%; width: 70%; height: auto;" src="{{ url_for('static', filename='OD600-1.png') }}" alt="...">
</div>
{% endblock right %}