{% extends 'left_right.html' %}

{% set slide_title = 'The Antibiotic Resistance Crisis' %}

{% block left %}
<ul class="h3" style="margin-top: 15%;">
    <li>
        <h3>Discovery of penicillin in 1928 revolutionized modern medicine.</h3>
    </li>
    <li>
        <h3>Deaths due to infectious diseases such as pneumonia and tuberculosis fell abruptly in the following decades.</h3>
    </li>
    <li>
        <h3>Many new antibiotics were introduced for clinical use.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
<img class="img-fluid" style="margin-top: 5%; width: 50%; height: auto;" src="{{ url_for('static', filename='history_of_discovery.png') }}" alt="Discovery Table">
</div>
{% endblock right %}