{% extends 'left_right.html' %}

{% set slide_title = 'Silver as an Antimicrobial' %}

{% block left %}
<ul class="h3" style="margin-top: 10%;">
    <li>
        <h3>Silver has been used to prevent infection for millennia.</h3>
    </li>
    <li>
        <h3>Silver ions interfere with key bacterial functions.</h3>
    </li>
    <li>
        <h3>Silver nanoparticles show increased antimicrobial potency.</h3>
    </li>
    <li>
        <h3>Represent an alternative to traditional antibiotics.</h3>
    </li>
    <li>
        <h3>Complete bactericidal mechanism remains unknown.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
<img class="img-fluid" style="margin-top: 10%; width: 80%; height: auto;" src="{{ url_for('static', filename='mechanisms_of_agnps.jpg') }}" alt="...">
</div>
{% endblock right %}