{% extends 'left_right.html' %}

{% set slide_title = 'Swimming Assay - Selected Track Results'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 10%;">
    <li>
        <h3>Trajectories of equal length from selected tracks are plotted for each imaging time and concentration.</h3>
    </li>
    <li>
        <h3>Silver shortens the trajectories of some of the cells. Others remain unphased.</h3>
    </li>
    <li>
        <h3>Lengths of trajectories steadily return to pre-silver values with some still very short.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
    <img class="img-fluid" style="margin-top: 10%; width: 100%; height: auto;" src="{{ url_for('static', filename='tracks_grid_plots-1.png') }}" alt="...">
</div>
{% endblock right %}