{% extends 'left_right.html' %}

{% set slide_title = 'Tethering Assay - Changes to HMM Parameters Caused by Silver Ions'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 0%;">
    <li>
        <h3>Percentage changes to tumble to run probability, run to run probability, and stationary distribution vs time are shown here.</h3>
    </li>
    <li>
        <h3>Data is aggregated over 10 control cells, and 14 silver-treated cells.</h3>
    </li>
    <li>
        <h3>Those cells inoculated with silver saw a markedly larger increase in the changes to the tumble-to-run probability and the total probability of running.</h3>
    </li>
    <li>
        <h3>However, not much change was seen in run-to-run probability, suggesting that this behavior remains unaffected. 
        </h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
    <img class="img-fluid" style="margin-top: 10%; width: 100%; height: auto;" src="{{ url_for('static', filename='dists_vs_time-1.png') }}" alt="...">
</div>
{% endblock right %}