{% extends 'center.html' %}

{% set slide_title = 'Swimming Assay - Conclusions' %}

{% block center %}
<div class="d-flex flex-column text-center h-100">
  <h1 class="h-25"></h1>
  <h1 class="h-50 bg-dark text-light" style="border: 5px solid; border-color: black;">
      Silver ions <u>decreased the swimming velocity</u> of <i>E. coli</i> cells and caused the <u>trajectories to be more curved</u>.<br/><br/>
      This effect was <u>not purely due to cell death</u>, as shown by the MSD and PI staining analysis.
    </h1>
</div>
{% endblock center %}