{% extends 'left_right.html' %}

{% set slide_title = 'Tethering Assay - Imaging Protocol'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 10%;">
    <li>
        <h3>Cell culture was added to Petri dish treated with FliC antibody</h3>
    </li>
    <li>
        <h3>This caused the cell to be tethered to the surface of the glass coverslip</h3>
    </li>
    <li>
        <h3>Any translational motion became rotational motion perpendicular to the objective.</h3>
    </li>
    <li>
        <h3>10,000 frames at 71 fps were taken before silver-treatment.</h3>
    </li>
    <li>
        <h3>Then, after 40&mu;M Ag<sup>+</sup> was added directly to the dish, 100,000 more frames were captured.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
    <img class="img-fluid" style="margin-top: 25%; width: 100%; height: auto;" src="{{ url_for('static', filename='tethered_cell.png') }}" alt="...">
</div>
{% endblock right %}