{% extends 'left_right.html' %}

{% set slide_title = 'Tethering Assay - Predict Run/Tumble States with HMMs'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 10%;">
    <li>
        <h3>Individual hidden Markov models were fit to each of the pre-silver data sets. These were used to predict the states as shown in yellow and purple.</h3>
    </li>
    <li>
        <h3>Soon after the addition of silver, the tumbling state becomes much more likely.</h3>
    </li>
    <li>
        <h3>This suggests that silver ions alter the parameters of the pre-silver HMM.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
    <img class="img-fluid" style="margin-top: 10%; width: 100%; height: auto;" src="{{ url_for('static', filename='predictions-1.png') }}" alt="...">
</div>
{% endblock right %}