{% extends 'left_right_66.html' %}

{% set slide_title = 'Swimming Assay - Data Processing'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 25%;">
  <li>
    <h3>Movies were then cleaned.</h3>
  </li>
  <li>
    <h3>Bacteria in movies were tracked.</h3>
  </li>
  <li>
    <h3>Tracks were manually curated for usability</h3>
  </li>
</ul>
{% endblock left %}

{% block right %}
<div class="text-center">
  <img class="img-fluid" style="margin-top: 15%; width: 65%; height: auto;"
    src="{{ url_for('static', filename='swimming_cleaning.gif') }}" alt="...">
</div>
{% endblock right %}