{% extends 'left_right.html' %}

{% set slide_title = 'Swimming Assay - OD<sub>600</sub>'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 50%;">
    <li>
        <h3>Cell culture density vs time.</h3>
    </li>
    <li>
        <h3>Silver ions suppress the growth of <i>E. coli</i>.</h3>
    </li>
</ul>

{% endblock left %}

{% block right %}
<div class="container h-100">
    <div class="row h-100" style="display: flex; align-items: center; justify-content: center;">
        <div id="od-plot"></div>
    </div>
  </div>
<script>
    fetch('/od-plot')
    .then(response => {return response.json();})
    .then(item => Bokeh.embed.embed_item(item, "od-plot"))
</script>
{# <div class="text-center">
    <img class="img-fluid" style="margin-top: 5%; width: 70%; height: auto;" src="{{ url_for('static', filename='OD600-1.png') }}" alt="...">
</div> #}
{% endblock right %}