{% extends 'left_right.html' %}

{% set slide_title = 'Tethering Assay - Rolling Mean of &omega; vs Time'|safe %}

{% block left %}
<ul class="h3" style="margin-top: 15%;">
  <li>
    <h3>Rolling mean of &omega; (window size of 12 frames; gray is raw data).</h3>
  </li>
  <li>
    <h3>Cells switch between two modes in the first, pre-silver section.</h3>
  </li>
  <li>
    <h3>After silver, the cell remains in the slower state more often.</h3>
  </li>
</ul>

{% endblock left %}

{% block right %}
<div class="text-center">
  <img class="img-fluid" style="margin-top: 5%; width: 95%; height: auto;"
    src="{{ url_for('static', filename='rolling_mean_omega-1.png') }}" alt="...">
</div>
{% endblock right %}